 <section id="about" class="about bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" style="text-shadow:1px 1px 0 #444">
  <div class="w3-quarter w3-section">
    <span class="w3-large">12+</span><br>
    Computer Sciences Experienced
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-large">2+</span><br>
    Teacher in Data Structure
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-large">10+</span><br>
    Mastered Web Technologies
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-large">7+</span><br>
    Multimedia Editor Management
  </div>
  <!--<div class="w3-quarter w3-section">
    <span class="w3-large">20+</span><br>
   Projects Completed
  </div> -->
             <!-- Some text in here -->      
            </div>
        </div>
    </div>
</section>

