 <!-- Footer -->
<footer class="footer-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <div class="w3-xxlarge w3-section">
                    <a href="https://www.linkedin.com/in/khiem-le-070770142/"></a><i class="fa fa-linkedin w3-hover-opacity"></i>
                    <a href="https://github.com/khiemdc"></a><i class="fa fa-github w3-hover-opacity"></i>
                    <a href="https://twitter.com/khiemDC/"></a><i class="fa fa-twitter w3-hover-opacity"></i>
                </div>
            </div>
        </div>
    <!--Footer Partial-->
        <div style="text-align: center; margin-bottom: 0.5em; margin-top: 0.5em;">
            <span class="text-muted"> &copy; Khiem Le 2017</span>
        </div>
    </div>
    <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
</footer>