<!-- Websites -->
<section id="projects" class="portfolio">
    <div class="container">
      <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-left">
              <h1 id="subTitle">Sample Projects</h1>
              <div class="row">
                <div class="col-md-6">
                    <div class="portfolio-item">
                        <p id="projectTitle">• LIFE IS BEAUTIFUL</p>
                        <p>Lead group of three created a Node.js App including MySQL, Sequelize, Express, Handlebars JS provides an advantage by giving specifics of your move.</p>
                        <div style="margin-left: 10%;">
                            <a href="https://warm-reef-51471.herokuapp.com/" target="_blank" style="background-color: #FFFFFF; border: 2px solid #F5C453; width: 14.35em; height: 2.85em;" class="btn btn-warning outline"><i class="fa fa-paper-plane"></i>&nbsp;VISIT WEBSITE</a>
                        </div>
                    </div>
                </div> 
                <div class="col-md-6">
                    <div class="portfolio-item">
                       <a href="https://warm-reef-51471.herokuapp.com/" target="_blank">
                       <img class="img-portfolio img-responsive" src="images/lifeisbeautiful.jpg"></a>
                     </div>
                 </div>
             </div>
             <br>
             <br>
             <div class="row">
                <div class="col-md-6">
                    <div class="portfolio-item">
                        <a href="https://smart-grocer.herokuapp.com/" target="_blank"><img class="img-portfolio img-responsive" src="images/smart-grocer.jpg"></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="portfolio-item">
                        <p id="projectTitle">• SMART GROCER</p>
                        <p>Lead back-end developer created a MERN stack (MongoDB/Express/React/Node.js) app to help people to avoid grocery shopping hassle.</p>
                        <div style="float: right;">
                            <a href="https://smart-grocer.herokuapp.com/" target="_blank" style="background-color: #FFFFFF; border: 2px solid #F5C453; width: 14.35em; height: 2.85em;" class="btn btn-warning outline"><i class="fa fa-paper-plane"></i>&nbsp;VISIT WEBSITE</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-6">
                  <div class="portfolio-item">
                    <p id="projectTitle">• DIVE INTO DC</p>
                    <p>Responsive App using the google maps API, OpenWeatherApp API allows the user to personalize an itinerary depending on how many days the user will be staying in Washington DC.</p>
                    <div style="float: right;">
                      <a href="https://github.com/khiemdc/DiveIntoDC-Materialize/" target="_blank" style="background-color: #FFFFFF; border: 2px solid #F5C453; width: 14.35em; height: 2.85em;" class="btn btn-warning outline"><i class="fa fa-paper-plane"></i>&nbsp;VISIT WEBSITE</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="portfolio-item">
                    <a href="https://github.com/khiemdc/DiveIntoDC-Materialize/" target="_blank"><img class="img-portfolio img-responsive" src="images/diveintodc.jpg"></a>
                  </div>
                </div>  
              </div>
            <br>
            <br>
            <div class="row">
              <div class="col-md-6">
                <div class="portfolio-item">
                  <div class="card">
                    <a href="https://powerful-depths-26391.herokuapp.com/"class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/friend-finder.jpg">
                    </a>
                    <a href="https://powerful-depths-26391.herokuapp.com/" target="_blank" class="card-title activator grey-text text-darken-4">Looking for your best match</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="portfolio-item">
                  <p id="projectTitle">• FRIEND FINDER</p>
                  <p>Basic app demonstrating Node JS, Express, Handlebars, and jQuery. This dating app takes in results from your users' surveys, compares with those from other users. The app then displays the name and picture of the user with the best overall match.</p>
                  <div style="float: right;">
                    <a href="https://powerful-depths-26391.herokuapp.com/" target="_blank" style="background-color: #FFFFFF; border: 2px solid #F5C453; width: 14.35em; height: 2.85em;" class="btn btn-warning outline"><i class="fa fa-paper-plane"></i>&nbsp;VISIT WEBSITE</a>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- email -->    
            <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
             <center>
              <section style="margin-left: 50px; margin-top: 5%;" class="cta-section border">
             <div class="inner-container">
              <a href="contact.html" class="cta-button" style="font-size: small; color: black">  Email Me  <span class="arrow-right">&#8594;</span></a>
             </div>
            </section>
            </center>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>


