 <section id="about" class="about bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
            <div class="w3-half w3-section">
    <div style="margin-left: -80px;">
    B.S. Electronics & Communication Engineering<br>
    M.S. Computer Information Technology </div>
  </div>
  <div class="w3-quarter w3-section">
  	<div style="margin-left: -200px;">
    George Washington University<br>
    Full Stack Web Development</div>
  </div>
  <div class="w3-quarter w3-section">
  	<div style="margin-left: -150px;">
    MIT/EDx<br>
    Web Security Fundamentals Certificate</div>
  </div>
        <!--        <h4>"A creative man is motivated by the desire to achieve, not by the desire to beat others."</h4>
                <h4> - Ayn Rand </h4>-->
            </div>
        </div>
    </div>
</section>